@page
@model ListModel
@{
}
<h1>CLIENTES</h1>
<br />
<a class="btn btn-success" asp-page="./CrearCliente">
    <i class="fas fa-plus"></i> Crear
</a>
<br/>

<table class="table">
    <tr>
        <!--<th>Id</th>-->
        <th>Nombre</th>
        <th>Telefono</th>

    </tr>
    @foreach (var cliente in Model.cliente)
    {
        <tr>
            <!-- <td>@cliente.idCliente</td>-->
        <td>@cliente.Nombre</td>
        <td>@cliente.Telefono</td>
        </tr>

    }

</table>
