@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ARPANET</h1>
    <img src="../Imagenes/arpanet.jpg" alt="LOGO2" width="250" height="550">
    <p> XXX XXX XXXLearn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
